body {
	margin: 0;
}

.top-pane {
	background-color: #545d78;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.bottom-pane {
	height: 50vh;
	display: flex;
}

.file-picker-container {
	padding: 0.5rem;
	padding-bottom: 0rem;
	background-color: #3c3e44;
	display: flex;
}

.file-picker {
	margin-right: 0.75rem;
	cursor: pointer;
	padding: 0.25rem;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	border-radius: 0.5rem;
	border-bottom-left-radius: 0rem;
	border-bottom-right-radius: 0rem;
}

.editor-container {
	flex-grow: 1;
	flex-basis: 0;
	display: flex;
	flex-direction: column;
	padding: 0.5rem;
	background-color: #3c3e44;
}

.editor-title {
	display: flex;
	justify-content: space-between;
	background-color: #1f2023;
	color: white;
	padding: 0.5rem 0.5rem 0.5rem 1rem;
	border-top-right-radius: 0.5rem;
	border-top-left-radius: 0.5rem;
}

.code-mirror-wrapper {
	flex-grow: 1;
	border-bottom-right-radius: 0.5rem;
	border-bottom-left-radius: 0.5rem;
	overflow: hidden;
}
